server/node_modules/
server/data/
.DS_Store
app/node_modules/
app/android/build/
app/android/app/build/
app/android/.gradle/
app/android/app/src/main/assets/
app/android/app/src/main/res/values/strings.xml
app/android/capacitor-cordova-android-plugins/
